
body {
    background-color: gray;
}

.container {
    aspect-ratio: 1/1;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
}

#attitudeIndicator {
    grid-area: 2 / 2;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */

}

.difReadout {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 8px 16px;
}
.difReadout label,
.difReadout span {
    text-align: right;
    display: block;
    background: white;
    padding: 6px 10px;
    border-radius: 6px;
}